{% extends 'base.html' %}
    {% block content %}
        <section class="text-center index bg-index p-3">
            <h2>{{msg | safe}}</h2>
            <h2>Preencha os campos abaixo:</h2>

            <form class="text-center p-5 d-flex flex-column" action="{% url 'registrar' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary m-3 shadow-btn" type="submit">Enviar Cadastro</button>
            </form>
        </section>
    {% endblock %}
